/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
$link-color: #DA6A15;
$link-hover-color: shade-color($link-color, 30%);


/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  color: $navbar-bg;
}

h1.title {
  font-size: $h1-font-size*1.3;
  font-weight: $headings-font-weight*2;
}

a {
  color: $link-color;
  text-decoration: underline;
}

a:hover {
  color: $link-hover-color;
  text-decoration: underline;
}

.navbar-brand-container {
  max-width: 100%;
}

.navbar-title {
  font-size: $h3-font-size;
  font-weight: $headings-font-weight;
}

.navbar-logo {
  max-height: 75px;
}

.alert {
  margin: 10px;
}

.rounded-corners {
  border-radius: 25px;
  transition: border-radius 0.3s ease-in-out;
}

.thumbnail-image {
  border-radius: 10px;
}

.rounded-corners:hover {
  border-radius: 0px;
  animation: shake 0.5s;
}

/* Not within grid */
.quarto-grid-item .thumbnail-image {
  border-radius: 0px;
}

/* This is for making images in listings smaller */
div.thumbnail {
  max-width: 150px;
  height: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.quarto-title-meta {
  color: $navbar-bg;
}

.quarto-title-meta-heading {
  font-weight: bold !important;
}

.quarto-title-meta-contents {
  font-style: italic;
}

div.abstract {
  font-style: italic;
}

.thatsall {
  margin-top: 75px;
  padding-bottom: 0px;
  line-height: 0;
  font-style: italic;
  text-align: right;
  border-bottom: 1px solid #aaa;
}

.links-list ul {
  list-style-position: outside;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.links-list li {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  margin: 10px 0px 10px 0px;
  width: fit-content;
}

.links-list li a {
  text-decoration: none;
}

.links-list li:hover {
  color: $link-hover-color;
  border-color: $link-hover-color;
}
